.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #09d3ac;
}

.Pages * {
  margin: 10px;
}

.SideBar {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #e3f2fd;
}

.SideBar .Pages .MuiButton-root {
  display: block;
  width: 100%;
  padding: 0px;
}

.SideBar .Pages .MuiButton-root .MuiButton-label {
  display: block;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.SideBar-label {
  font-size: 2rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  padding: .3em;
  background-color: white;
  color: #3f51b5;
}

.body {
  font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02857em;
  width: 70%;
  left: 30%;
  position: relative;
  overflow-x: hidden;
}

.body p {
  padding: 2em;
}

.feed-body {
  font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02857em;
  width: 70%;
  left: 30%;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Feed {
  border-color: #42a5f5;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
  width: 80%;
}